{% extends "base.html" %}

{% block tittle %}tomo{% endblock %}

{% block content %}
    <h1>lukin lapo</h1>
    <div class="flex two">
        <article>
            <header>
                <h2>ijo ni li seme?</h2>
            </header>
            <main>
                <p>
                    lukin lapo li e ilo pona pi lukin e poki lapo. 
                    mi (jan Niku) pali e ni tan ni: 
                    mi alasa e poki lapo. mi wile kama sona e ni,
                    taso ni jo ala e ilo lukin. mi pali e wan!
                </p>
            </main>
        </article>
        <article>
            <header>
                <h2>poki lapo li seme?</h2>
            </header>
            <main>
                <p>
                    poki lapo li e lipu e poki tawa lipu ale pona (lipu sitelen kepeken toki pona.)
                    toki lawa pi jan pali ona li ni: ona li suli e ni. ona wile e ni: 
                    ijo ale kepeken toki pona li lon e poki lapo. 
                    jan pali li ante e ijo tawa sitelen Markdown. ona li pali e sona namako tawa ijo ni.
                </p>
            </main>
        </article>
    </div>
{% endblock %}