{% extends "base.html" %}

{% block tittle %}tomo{% endblock %}

{% block content %}
    <h1>lukin lapo</h1>
    <div class="flex two">
        <article>
            <header>
                <h2>ijo ni li seme?</h2>
            </header>
            <main>
                <p>
                    lukin Lapo li ilo lukin pi poki Lapo. 
                    mi jan Niku li wile alasa e lipu lon poki, 
                    taso ilo lukin li lon ala. ni la mi pali e ona!
                </p>
            </main>
        </article>
        <article>
            <header>
                <h2>poki lapo li seme?</h2>
            </header>
            <main>
                <p>
                    poki Lapo li jo e lipu pi toki pona. 
                    jan pali ona li wile awen e lipu pona ale lon ona. 
                    namako la ona li ante e lipu tawa nasin sitelen Markdown li pana e sona poka.
                </p>
            </main>
        </article>
    </div>
{% endblock %}